a {
  text-decoration: none;
}
body {
  font-family: 'Arial';
  margin: 0;
  color: #545454;
}
.container {
  padding: 0 40px;
}
.title__seccondary {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0;
  padding-bottom: 60px;
}
.btn__main {
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}
.btn__main:hover {
  border: 1px solid #F1CDB3;
  background: #FAFAFA;
  border-radius: 100px;
}
.btn__secondary {
  font-family: 'Georgia';
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 15px 45px;
  border: 1px solid #F1CDB3;
  background: #FAFAFA;
  border-radius: 100px;
  transition: all 0.5s ease-in-out;
}
.btn__secondary:hover {
  border: 1px solid #F1CDB3;
  background: #F1CDB3;
  border-radius: 100px;
}
.header {
  background-image: url(image/bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.header__logo-text {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #fff;
  margin: 0;
  padding-top: 10px;
}
.navigation__item {
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}
.navigation__item:not(:last-child) {
  margin-right: 35px;
}
.navigation__item:hover {
  border-bottom: 1px solid #F1CDB3;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}
.header__content-title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
  color: #FFFFFF;
  margin-top: 0;
}
.header__content-text {
  max-width: 460px;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
  margin-bottom: 45px;
}
.header__content-img {
  flex-basis: 60%;
}
#menu__toggle {
  visibility: hidden;
}
.info {
  display: flex;
  justify-content: space-evenly;
  padding: 80px 0 100px 0;
}
.info__title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
}
.info__text {
  max-width: 547px;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
  margin: 0;
}
.info__text:not(:last-child) {
  padding-bottom: 25px;
}
.info__picture {
  margin-right: 50px;
}
.slider {
  display: flex;
  flex-direction: column;
  background-color:#F6F6F6;
  padding: 80px 0 100px 0;
}
.slider__pets {
  display: flex;
  justify-content: space-evenly;
}
.slider__pets-item {
  margin: 0 45px;
  width: 270px!important;
  background-color: #FAFAFA;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name__pets {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  margin: 0;
  padding: 30px 0 35px 0;
}
.slider__btn {
  margin: 0 auto;
  text-align: center;
  margin-top: 75px;
  align-self: center;
}
.pets-item__btn {
  margin-bottom: 30px;
}
.help {
  padding: 80px 127px 50px 127px;
}
.help__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  text-align: center;
}
.help__wrapper-inner {
  min-width: 200px;
}
.help__text {
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 60px;
}
.donation {
  display: flex;
  padding: 80px 10px 100px 10px;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F6F6F6;
}
.donation__content {
  max-width: 380px;
}
.donation__title {
  padding-bottom: 20px;
  text-align: left;
}
.donation__subtitle {
  font-family: 'Georgia';
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  padding-bottom: 20px;
  margin: 0;
}
.donation__text {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  margin: 0;
  padding-top: 30px;
}
.donation__card {
  display: flex;
  background: #F1CDB3;
  align-items: center;
  border-radius: 9px;
}
.donation__number {
  margin: 0;
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  padding: 10px 15px;
}
.donation__card-img {
  padding-left: 15px;
}
.footer {
  background-image: url(image/footer.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__wrapper-inner {
  padding-top: 56px;
  padding: 56px 5px 0 5px;
}
.footer__item {
  padding-bottom: 45px;
  display: flex;
  align-items: center;
}
.footer__contact-title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 45px;
  max-width: 279px;
}
.footer__location-title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: 0;
  padding-bottom: 34px;
  max-width: 278px;
}
.footer__img {
  padding-top: 40px;
}
.footer__link {
  font-family: 'Georgia';
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .header__top {
    padding-top: 30px;
  }
  .header__content {
    flex-direction: column;
  }
  .header__content-wrapper {
    display: flex;
    flex-direction: column;
  }
  .btn__main {
    align-self: center;
  }
  .header__content-img {
    padding-top: 100px;
  }
  .info {
    flex-direction: column-reverse;
    align-items: center;
    padding: 80px 25px 100px 25px;
  }
  .info__content {
    max-width: 430px;
  }
  .info__img {
    padding-top: 80px;
  }
  .help {
    padding: 80px 69px 100px 69px;
  }
  .help__wrapper {
    justify-content: space-between;
  }
  .help__wrapper-inner {
    min-width: 150px;
  }
  .donation {
    flex-direction: column-reverse;
  }
  .donation__img {
    padding-top: 60px;
  }
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__wrapper-inner {
    flex-basis: 50%;
  }
  .footer__img {
    margin: 0 auto;
    padding-top: 0;
  }


    #menu__toggle{
      opacity: 0;
    }
    .menu__btn {
      display: flex;
      align-items: center;
      position: fixed;
      top: 50px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #F1CDB3;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .menu__box {
      display: flex;
      flex-direction: column;
      position: fixed;
      visibility: hidden;
      top: 0;
      width: 100%;
      height: 50%;
      background-color: #292929;
      align-items: center;
      justify-content: center;
    }
    .menu__item {
      display: block;
      padding: 38px 43px;
      color: #FAFAFA;
      text-decoration: none;
      font-family: 'Arial';
      font-size: 32px;
      line-height: 51px;
      margin-right: 0;
    }
    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      left: 0;
      height: 100vh;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      transition-duration: .25s;
    }
    .menu__box {
      transition-duration: .25s;
    }
    .menu__item {
      transition-duration: .25s;
    } 
    .header__logo {
      z-index: 1;
    }
}

@media screen and (max-width: 420px) {
.header__content-title {
  font-size: 25px;
  line-height: 32px;
  text-align: center;
}
.header__content-text {
  min-width: 300px;
  text-align: center;
}
.info {
  padding: 42px 25px;
}
.info__title {
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  margin: 0;
  padding-bottom: 25px;
}
.info__img {
  padding-top: 42px;
}
.help {
  padding: 42px 15px;
}
.title__seccondary {
  font-size: 25px;
  line-height: 32px;
  padding-bottom: 42px;
}
.help__wrapper-inner {
  min-width: 110px;
}
.help__text {
  padding: 20px 0 30px 0;
  font-size: 15px;
  line-height: 17px;
}
.donation {
  padding: 42px 20px;
}
.donation__title {
  text-align: center;
  padding-bottom: 20px;
}
.donation__subtitle {
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 20px;
  letter-spacing: 0;
}
.donation__number {
  font-size: 14px;
  line-height: 17px;
}
.footer__wrapper {
  flex-direction: column;
}
.footer__wrapper-inner {
  padding-top: 30px;
  text-align: center;
  flex-basis: 0;
}
.footer__contact-title,
.footer__location-title  {
  font-size: 25px;
  line-height: 32px;
}
.footer__img {
  padding-top: 0;
}
}


.popup__background {
  background-color: rgba(41, 41, 41, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  position: relative;
  width: 900px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #FAFAFA;
}
.popup__img {
  padding-right: 30px;
  width: 50%;
}
.popup__title {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #000000;
  margin: 0;
  padding-bottom: 10px;
}
.popup__subtitle {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #000000;
  margin: 0;
}
.popup__text {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #000000;
  max-width: 350px;
  margin: 0;
  padding: 40px 0 40px 0;
}
.popup__list {
  margin: 0;
  padding: 0;
}
.popup__list-item {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #000000;
  list-style-type: none;
}
.popup__list-item:not(:last-child) {
  padding-bottom: 10px;
}
.popup__list-item::before {
  content: "";
  display: inline-block;
  background-color: #F1CDB3;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}
.popup__list-item--span {
  font-weight: 700;
}
.popup__button {
  position: absolute;
  top: -40px;
  right: -40px;
  border: 1px solid #F1CDB3;
  background-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.popup__background--close {
  display: none;
}

.pets__item {
  color: #545454;
}
.pets__logo-text {
  color: #292929;
}
.pets__top {
  padding-bottom: 30px;
}
.our {
  background-color: #F6F6F6;
  padding: 80px 40px 100px 40px;
}
.our__pets {
  display: grid;
  gap: 40px 30px;
  grid-template-columns: 270px 270px 270px 270px;
  justify-items: center;
  justify-content: center;
}